.bz-light-red{
    background-color: rgba(207, 81, 81, 0.452);
}
.rating-icon{
    width: 20px;
}

.btn-bz-danger{
    background-color: rgba(234, 82, 115, 0.505);
    color: white;
}

.w-25{
    width: 75% !important;
}